* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3C5377;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.envelope {
    width: 300px;
    height: 200px;
    background: #0d305e;
    border-radius: 0 0 10px 10px;
    position: relative;
    transform-style: preserve-3d; /* Thêm dòng này */
    perspective: 1000px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}


.left-part,
.right-part {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    bottom: 0%;
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}

.left-part::before,
.right-part::before,
.top-part::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.left-part::before {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background: #0b2a66;
}

.right-part::before {
    background: #1d3c7b;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.top-part {
    width: 100%;
    height: 50%;
    position: absolute;
    transition: 1s .2s;
    transform-origin: top;
    transform: rotateX(1deg);
    filter: drop-shadow(0px 1px 1px rgb(0, 0, 0, .8));
}

.top-part::before {
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
    background: #011e43;
}

.msg {
    bottom: 0;
    width: 90%;
    height: 90%;
    color: #1B264F;
    transition: 0.5s;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    background: #DBFCFF;    
}

.msg::after{
    top: 12%;
    width: 90%;
    height: 90%;
    content: "Hehe, công chúa của anh lại thêm 1 tuổi mới nữa rồi nè.\A\A Anh chúc bé một tuổi mới tràn đầy niềm vui và tràn ngập hạnh phúc\A\a Chúc bé trên những trận đường tiếp theo có thể tìm được công việc phù hợp với bản thân. Và cũng thành công trong mọi công việc\A\A Tuổi mới mong bé có thể dịu bớt xíu nè, hem còn hay cọc nữa nè và luôn nở nụ cười rạng ngời trên môi.\A\A Luôn luôn xinh đẹp và hãy là chính mình nha bé.\a\a Anh yêu bé nhiều lắm❤️❤️❤️.\A\A Mong rằng anh và bé có thể đi đến lâu dài  ";

    left: 5%;
    text-align: left;
    position: absolute;
    border-radius: 20px;
    white-space: pre-wrap; /* Để duy trì khoảng trắng và xuống dòng */
    clip-path: inset(0% 0 0 0);
}

.msg::before{
    top: 12%;
    width: 90%;
    height: 90%;
    height: 15px;

    content: '';

    left: 5%;
    text-align: left;
    position: absolute;
    border-radius: 20px;
    white-space: pre-wrap; /* Để duy trì khoảng trắng và xuống dòng */
}

.notification {
    top: -15%;
    opacity: 0;
    right: -10%;
    width: 25px;
    height: 25PX;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    border-radius: 50%;
    transition: 1s .5s;
    transform: scale(0);
    font-family: calibri;
    background: #f46868;
    box-shadow: 0px 0px 2px 1px #47464661;
}

.envelope:hover .msg{
    transform: translateY(-50px);
    transition: 1s 0.2s !important;
    z-index: 2;
    content: "";
}

.envelope:hover .top-part {
    transform: rotateX(190deg);
    transition: 0.5s !important;
    filter: none;
}

.envelope:hover .notification {
    transform: scale(1);
    opacity: 1;
}

.hidden {
    display: none;
} 
input#toggle:checked + label .msg {
    transform: translateY(-50px);
    transition: 1.5s 0.2s !important;
    z-index: 999999;
    width: 450px;
    height: 400px;
    top: 10px;
    border-radius: 15px;
}
input#toggle:not(:checked) + label .msg {
    transition: 1.5s 0.2s !important;
    z-index: -3;
    top: 10px;
}
input#toggle:checked + label .envelope .top-part {
    transform: rotateX(190deg);
    transition: 0.5s !important;
    filter: none;
}
input#toggle {
    opacity: 0;
    position: absolute;
}