body{
    background: #3C5377;
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    position: absolute;
    width: 400px;
    height: 550px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    color: #000;
    background-image: linear-gradient(95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64%);
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background-image: linear-gradient(95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64%);
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
    font-family: Playpen Sans;
    font-weight:normal;
    text-align: center;
}

.thefront p, .theback p{
    font-family: Playpen Sans;
    padding: -50px;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
/*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */